In [17]:
import numpy as np
import pandas as pd

In [18]:
from pandas import Series, DataFrame

In [19]:
s = Series(data=[120, 136, 128, 99], index=['Math', 'Python', 'En', 'Chinese'])
s

Math       120
Python     136
En         128
Chinese     99
dtype: int64

In [20]:
s.shape

(4,)

In [21]:
v = s.values
v

array([120, 136, 128,  99])

In [22]:
type(v)

numpy.ndarray

In [23]:
s.mean()

120.75

In [24]:
s.max()

136

In [25]:
s.min()

99

In [26]:
s.std()

15.903353943953666

In [27]:
s.pow(2)

Math       14400
Python     18496
En         16384
Chinese     9801
dtype: int64

In [30]:
df = DataFrame(data=np.random.randint(0, 150, size = (10, 3)), index = list('abcdefhijk'), columns = ['Python', 'En', 'Math'])
df

   Python   En  Math
a      82   63    53
b      81   11    10
c      14  129   146
d     127   11    57
e     108   67   111
f     123    5   149
h      90  116   137
i     123   61    57
j     136   83    88
k      91   15    23

In [32]:
df.shape

(10, 3)

In [34]:
v = df.values
v

array([[ 82,  63,  53],
       [ 81,  11,  10],
       [ 14, 129, 146],
       [127,  11,  57],
       [108,  67, 111],
       [123,   5, 149],
       [ 90, 116, 137],
       [123,  61,  57],
       [136,  83,  88],
       [ 91,  15,  23]])

In [35]:
df.mean()

Python    97.5
En        56.1
Math      83.1
dtype: float64

In [36]:
df.max()

Python    136
En        129
Math      149
dtype: int64

In [37]:
df

   Python   En  Math
a      82   63    53
b      81   11    10
c      14  129   146
d     127   11    57
e     108   67   111
f     123    5   149
h      90  116   137
i     123   61    57
j     136   83    88
k      91   15    23

In [38]:
df.mean(axis = 0)

Python    97.5
En        56.1
Math      83.1
dtype: float64

In [39]:
df.mean(axis = 1)

a     66.000000
b     34.000000
c     96.333333
d     65.000000
e     95.333333
f     92.333333
h    114.333333
i     80.333333
j    102.333333
k     43.000000
dtype: float64