In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
s = Series(np.random.randint(0, 150, size=100), index=np.arange(10, 110), dtype=np.int16, name='Python')
s

10     134
11       0
12      67
13       8
14     103
15      92
16     109
17     129
18      50
19     126
20      95
21       7
22     139
23     136
24     136
25      59
26     125
27     123
28      80
29      95
30      71
31     113
32      23
33      87
34     112
35      40
36      90
37     101
38     122
39      70
      ...
80      19
81       6
82      66
83      80
84     140
85      53
86     147
87      32
88      68
89     141
90       5
91      56
92      82
93     100
94      54
95      92
96       7
97      38
98      47
99     124
100     77
101     21
102    116
103    104
104     68
105     82
106     28
107    126
108    140
109     34
Name: Python, Length: 100, dtype: int16

In [4]:
s[0]

KeyError: 0

In [5]:
s[10]

134

In [6]:
s[[10, 20]]

10    134
20     95
Name: Python, dtype: int16

In [7]:
s[10:20]

20     95
21      7
22    139
23    136
24    136
25     59
26    125
27    123
28     80
29     95
Name: Python, dtype: int16

In [8]:
s[::2]

10     134
12      67
14     103
16     109
18      50
20      95
22     139
24     136
26     125
28      80
30      71
32      23
34     112
36      90
38     122
40      50
42      12
44      70
46      32
48      31
50      77
52     123
54      15
56      91
58     144
60      31
62      90
64     136
66      39
68     105
70      20
72       4
74      95
76      40
78     104
80      19
82      66
84     140
86     147
88      68
90       5
92      82
94      54
96       7
98      47
100     77
102    116
104     68
106     28
108    140
Name: Python, dtype: int16

In [9]:
s[::-2]

109     34
107    126
105     82
103    104
101     21
99     124
97      38
95      92
93     100
91      56
89     141
87      32
85      53
83      80
81       6
79      21
77     100
75      49
73      54
71     141
69      64
67      81
65     147
63     141
61      85
59      94
57     103
55     115
53     124
51     124
49     139
47     149
45      27
43     137
41      76
39      70
37     101
35      40
33      87
31     113
29      95
27     123
25      59
23     136
21       7
19     126
17     129
15      92
13       8
11       0
Name: Python, dtype: int16

In [10]:
s.loc[[10,20]]

10    134
20     95
Name: Python, dtype: int16

In [11]:
s.loc[10:20]

10    134
11      0
12     67
13      8
14    103
15     92
16    109
17    129
18     50
19    126
20     95
Name: Python, dtype: int16

In [12]:
s.loc[::2]

10     134
12      67
14     103
16     109
18      50
20      95
22     139
24     136
26     125
28      80
30      71
32      23
34     112
36      90
38     122
40      50
42      12
44      70
46      32
48      31
50      77
52     123
54      15
56      91
58     144
60      31
62      90
64     136
66      39
68     105
70      20
72       4
74      95
76      40
78     104
80      19
82      66
84     140
86     147
88      68
90       5
92      82
94      54
96       7
98      47
100     77
102    116
104     68
106     28
108    140
Name: Python, dtype: int16

In [13]:
s.loc[::-2]

109     34
107    126
105     82
103    104
101     21
99     124
97      38
95      92
93     100
91      56
89     141
87      32
85      53
83      80
81       6
79      21
77     100
75      49
73      54
71     141
69      64
67      81
65     147
63     141
61      85
59      94
57     103
55     115
53     124
51     124
49     139
47     149
45      27
43     137
41      76
39      70
37     101
35      40
33      87
31     113
29      95
27     123
25      59
23     136
21       7
19     126
17     129
15      92
13       8
11       0
Name: Python, dtype: int16

In [14]:
s.index

Int64Index([ 10,  11,  12,  13,  14,  15,  16,  17,  18,  19,  20,  21,  22,
             23,  24,  25,  26,  27,  28,  29,  30,  31,  32,  33,  34,  35,
             36,  37,  38,  39,  40,  41,  42,  43,  44,  45,  46,  47,  48,
             49,  50,  51,  52,  53,  54,  55,  56,  57,  58,  59,  60,  61,
             62,  63,  64,  65,  66,  67,  68,  69,  70,  71,  72,  73,  74,
             75,  76,  77,  78,  79,  80,  81,  82,  83,  84,  85,  86,  87,
             88,  89,  90,  91,  92,  93,  94,  95,  96,  97,  98,  99, 100,
            101, 102, 103, 104, 105, 106, 107, 108, 109],
           dtype='int64')

In [15]:
s.iloc[0]

134

In [16]:
s.iloc[[0, 10]]

10    134
20     95
Name: Python, dtype: int16

In [17]:
s.iloc[0: 20]

10    134
11      0
12     67
13      8
14    103
15     92
16    109
17    129
18     50
19    126
20     95
21      7
22    139
23    136
24    136
25     59
26    125
27    123
28     80
29     95
Name: Python, dtype: int16

In [18]:
s.iloc[::-2]

109     34
107    126
105     82
103    104
101     21
99     124
97      38
95      92
93     100
91      56
89     141
87      32
85      53
83      80
81       6
79      21
77     100
75      49
73      54
71     141
69      64
67      81
65     147
63     141
61      85
59      94
57     103
55     115
53     124
51     124
49     139
47     149
45      27
43     137
41      76
39      70
37     101
35      40
33      87
31     113
29      95
27     123
25      59
23     136
21       7
19     126
17     129
15      92
13       8
11       0
Name: Python, dtype: int16

In [21]:
df = DataFrame(data= np.random.randint(0, 150, size=(10,3)), index=list('ABCDEFHIJK'), columns=['Python', 'En', 'Math'])
df

   Python   En  Math
A      34    6   109
B       9    1    11
C      88   13   111
D     135   57   139
E     149  132    48
F     123  145   100
H      71  127    64
I     144   19   146
J     106  121   128
K      20    4    46

In [22]:
df['A']

KeyError: 'A'

In [23]:
df['Python']

A     34
B      9
C     88
D    135
E    149
F    123
H     71
I    144
J    106
K     20
Name: Python, dtype: int64

In [24]:
df[['Python', 'En']]

   Python   En
A      34    6
B       9    1
C      88   13
D     135   57
E     149  132
F     123  145
H      71  127
I     144   19
J     106  121
K      20    4

In [25]:
df['Python':'Math']

Empty DataFrame
Columns: [Python, En, Math]
Index: []

In [26]:
df['A': 'D']

   Python  En  Math
A      34   6   109
B       9   1    11
C      88  13   111
D     135  57   139

In [27]:
df.loc['Python']

KeyError: 'Python'

In [28]:
df.loc['A']

Python     34
En          6
Math      109
Name: A, dtype: int64

In [29]:
df.loc['A': 'E']

   Python   En  Math
A      34    6   109
B       9    1    11
C      88   13   111
D     135   57   139
E     149  132    48

In [30]:
df.loc[::2]

   Python   En  Math
A      34    6   109
C      88   13   111
E     149  132    48
H      71  127    64
J     106  121   128

In [31]:
df.loc[::-2]

   Python   En  Math
K      20    4    46
I     144   19   146
F     123  145   100
D     135   57   139
B       9    1    11

In [32]:
df.iloc['A']

TypeError: Cannot index by location index with a non-integer key

In [33]:
df.iloc[0]

Python     34
En          6
Math      109
Name: A, dtype: int64

In [34]:
df.iloc[[0, 5]]

   Python   En  Math
A      34    6   109
F     123  145   100

In [35]:
df.iloc[0:5]

   Python   En  Math
A      34    6   109
B       9    1    11
C      88   13   111
D     135   57   139
E     149  132    48

In [36]:
df.iloc[::-2]

   Python   En  Math
K      20    4    46
I     144   19   146
F     123  145   100
D     135   57   139
B       9    1    11

In [37]:
df

   Python   En  Math
A      34    6   109
B       9    1    11
C      88   13   111
D     135   57   139
E     149  132    48
F     123  145   100
H      71  127    64
I     144   19   146
J     106  121   128
K      20    4    46

In [38]:
df.iloc[::2, 1]

A      6
C     13
E    132
H    127
J    121
Name: En, dtype: int64