In [50]:
import pandas as pd

In [55]:
df = pd.read_csv('test.csv', parse_dates=['date'])

In [56]:
df.head()

        date     value
0 1991-01-01  3.526591
1 1992-01-01  3.180891
2 1993-01-01  3.252221
3 1994-01-01  3.611003
4 1995-01-01  3.565869

In [57]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/MarketArrivals.csv')

In [66]:
df = df.loc[df.month == 'January', : ]

In [67]:
df.head()

,market,month,year,quantity,priceMin,priceMax,priceMod,state,city,date
90,AGRA(UP),January,2005,6400,329,424,377,UP,AGRA,January-2005
91,AGRA(UP),January,2006,11175,414,585,549,UP,AGRA,January-2006
92,AGRA(UP),January,2007,10300,762,844,801,UP,AGRA,January-2007
93,AGRA(UP),January,2008,50000,491,567,522,UP,AGRA,January-2008
94,AGRA(UP),January,2009,26500,1220,1327,1259,UP,AGRA,January-2009