In [50]:
import pandas as pd

In [55]:
df = pd.read_csv('test.csv', parse_dates=['date'])

In [56]:
df.head()

        date     value
0 1991-01-01  3.526591
1 1992-01-01  3.180891
2 1993-01-01  3.252221
3 1994-01-01  3.611003
4 1995-01-01  3.565869